mixin about()
	.promo
		.container
			.promo__header About Our Project

			.promo__text.promo__text--left
				p
					span.text-big Our project
					| is lorem ipsum dolor sit amet,  consectetur adipiscing elit,
					| sed  do  eiusmod tempor incididunt ut labore et dolore magna aliqua.
					| Ut enim ad minim veniam,  quis nostrud  exercitation ullamco laboris
					| nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
					| reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

				p
					span.text-big We
					| excepteur  sint occaecat  cupidatat  non proident, sunt in culpa qui officia
					| deserunt mollit  anim id est l aborum. Lorem ipsum dolor sit amet,
					| consectetur adipiscing elit, sed  do eiusmod tempor  incididunt ut labore
					| et dolore magna aliqua. Ut enim ad minim  veniam,  quis nostrud exercitation
					| ullamco laboris  nisi ut aliquip  ex ea commodo consequat. Duis aute irure dolor
					| in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

				p
					span.text-big Travel
					| is lorem ipsum dolor  sit amet, consectetur  adipiscing elit, sed do  eiusmod tempor
					| incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
					| exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.