mixin article-preview(img)
	.article-preview
		.row
			.col-md-3.col-sm-4.col-xs-5.pi-padfix
				.article-preview__image
					a(href="article.html"): img(src="#{img}", alt="")

			.col-md-9.col-sm-8.col-xs-7
				article
					a(href="article.html"): h4 Title of second article in the list of results

					p.
						Lorem ipsum dolor sit amet,  consectetur adipiscing elit,
						sed  do  eiusmod tempor incididunt ut labore et dolore magna 
						aliqua. Ut enim ad minim veniam,  quis nostrud  exercitation 
						ullamco laboris nisi ut aliquip ex ea commodo consequat. 
						Duis aute irure dolor in reprehenderit in voluptate velit esse 
						cillum dolore eu fugiat nulla pariatur.