mixin article()


	article

		h3 This title of the very interesting article about education can be a single line, but may be a two-line

		p.
			Lorem ipsum dolor sit amet,  consectetur adipiscing elit,
			sed  do  eiusmod tempor incididunt ut labore et dolore magna 
			aliqua. Ut enim ad minim veniam,  quis nostrud  exercitation 
			ullamco laboris nisi ut aliquip ex ea commodo consequat. 
			Duis aute irure dolor in reprehenderit in voluptate velit esse 
			cillum dolore eu fugiat nulla pariatur. Excepteur  sint occaecat  
			cupidatat  non proident,  sunt in culpa qui officia deserunt mollit  
			anim id est l aborum. Lorem ipsum dolor sit amet,  consectetur 
			adipiscing elit, sed  do eiusmod tempor  incididunt ut labore et 
			dolore magna aliqua. Ut enim ad minim  veniam,  quis nostrud exercitation  
			ullamco laboris  nisi ut aliquip  ex ea commodo consequat. 

		hr

		h4 This title of the very interesting article about education can be a single line, but may be a two-line

		p.
			<b>Lorem ipsum</b> dolor sit amet,  consectetur adipiscing elit,
			sed  do  eiusmod tempor incididunt ut labore et dolore magna 
			aliqua. Ut enim ad minim veniam,  quis nostrud  exercitation 
			ullamco laboris nisi ut aliquip ex ea commodo consequat.
		p.
			<em>Lorem ipsum dolor sit amet</em>,  <strong>consectetur adipiscing</strong> <u>elit,
			sed  do  eiusmod tempor incididunt ut labore et dolore magna</u> 
			<a href="">aliqua</a>. Ut enim <i>ad minim veniam</i>,  quis nostrud  exercitation 
			ullamco laboris nisi ut aliquip ex ea commodo consequat. 
			Duis aute irure dolor in reprehenderit in voluptate velit esse 
			cillum dolore eu fugiat nulla pariatur. Excepteur  sint occaecat  
			cupidatat  non proident
		.row
			.col-md-3
				ul
					li List-item 1
					li List-item 2
					ul
						li List-sub-item-1
						li List-sub-item-2
						li List-sub-item-3
					li List-item 3
					li List-item 4
					li List-item 5

			.col-md-3
				ol
					li List-item 1
					li List-item 2
					li List-item 3
					li List-item 4
					li List-item 5

			.col-md-3
				dl
					dt: dfn First definition
					dd This is the first line of the first definition

					dt: dfn Second definition
					dd This is the first line of the second definition


		.row
			.col-md-6
				img(src="img/mainpar/mp-1.jpg", alt="")

			.col-md-6
				h3 Title of the third level

				p.
					Lorem ipsum dolor sit amet,  consectetur adipiscing elit,
					sed  do  eiusmod tempor incididunt ut labore et dolore magna 
					aliqua. Ut enim ad minim veniam,  quis nostrud  exercitation 
					ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					Duis aute irure dolor in reprehenderit in voluptate velit esse 
					cillum dolore eu fugiat nulla pariatur. Excepteur  sint occaecat  
					cupidatat  non proident

		
		p.
			<img src="img/mainpar/mp-1.jpg" style="width: 200px;" class="image-left" />
			Lorem ipsum dolor sit amet,  consectetur adipiscing elit,
			sed  do  eiusmod tempor incididunt ut labore et dolore magna 
			aliqua. Ut enim ad minim veniam,  quis nostrud  exercitation 
			ullamco laboris nisi ut aliquip ex ea commodo consequat. 
			Duis aute irure dolor in reprehenderit in voluptate velit esse 
			cillum dolore eu fugiat nulla pariatur. Excepteur  sint occaecat  
			cupidatat  non proidentLorem ipsum dolor sit amet,  consectetur adipiscing elit,
			sed  do  eiusmod tempor incididunt ut labore et dolore magna 
			aliqua. Ut enim ad minim veniam,  quis nostrud  exercitation 
			ullamco laboris nisi ut aliquip ex ea commodo consequat. 
			Duis aute irure dolor in reprehenderit in voluptate velit esse 
			cillum dolore eu fugiat nulla pariatur. Excepteur  sint occaecat  
			<img src="img/mainpar/mp-1.jpg" style="width: 200px;" class="image-right" />
			cupidatat  non proidentLorem ipsum dolor sit amet,  consectetur adipiscing elit,
			sed  do  eiusmod tempor incididunt ut labore et dolore magna 
			aliqua. Ut enim ad minim veniam,  quis nostrud  exercitation 
			ullamco laboris nisi ut aliquip ex ea commodo consequat. 
			Duis aute irure dolor in reprehenderit in voluptate velit esse 
			cillum dolore eu fugiat nulla pariatur. Excepteur  sint occaecat  
			cupidatat  non proidentLorem ipsum dolor sit amet,  consectetur adipiscing elit,
			sed  do  eiusmod tempor incididunt ut labore et dolore magna 
			aliqua. Ut enim ad minim veniam,  quis nostrud  exercitation 
			ullamco laboris nisi ut aliquip ex ea commodo consequat. 
			Duis aute irure dolor in reprehenderit in voluptate velit esse 
			cillum dolore eu fugiat nulla pariatur. Excepteur  sint occaecat  
			cupidatat  non proidentLorem ipsum dolor sit amet,  consectetur adipiscing elit,
			sed  do  eiusmod tempor incididunt ut labore et dolore magna 
			aliqua. Ut enim ad minim veniam,  quis nostrud  exercitation 
			ullamco laboris nisi ut aliquip ex ea commodo consequat. 
			Duis aute irure dolor in reprehenderit in voluptate velit esse 
			cillum dolore eu fugiat nulla pariatur. Excepteur  sint occaecat  
			cupidatat  non proident



		blockquote.
			Lorem ipsum dolor sit amet,  consectetur adipiscing elit,
			sed  do  eiusmod tempor incididunt ut labore et dolore magna 
			aliqua. Ut enim ad minim veniam,  quis nostrud  exercitation 
			ullamco laboris nisi ut aliquip ex ea commodo consequat.

		.row.no-padding.gallery
			.col-md-4.col-sm-4.col-xs-12
				img(src="img/mainslide-photos/derbent.jpg", alt="")
				.inf: .main-gallery__item-category Название фото

			.col-md-4.col-sm-4.col-xs-12
				img(src="img/mainslide-photos/kubachi.jpg", alt="")
				.inf: .main-gallery__item-category Название фото

			.col-md-4.col-sm-4.col-xs-12
				img(src="img/mainslide-photos/villages.jpg", alt="")
				.inf: .main-gallery__item-category Название фото

			.col-md-6.col-sm-6.col-xs-12
				img(src="img/mainslide-photos/caspian.jpg", alt="")
				.inf: .main-gallery__item-category Название фото

			.col-md-6.col-sm-6.col-xs-12
				img(src="img/mainslide-photos/caucasus.jpg", alt="")
				.inf: .main-gallery__item-category Название фото
	

	.clearfix