mixin footer()
	.footer
		.container
			.row
				

				.col-md-4.col-sm-12.col-xs-12.col-md-push-8.col-sm-push-0.align-right
					b Contact us:&nbsp
					a(href="mailto:nfo@dagestan.org") info@dagestan.org

				.col-md-8.col-sm-12.col-xs-12.col-md-pull-4.col-sm-pull-0
					span © 2016 Разработано в студии Color-IT&nbsp&nbsp|&nbsp&nbsp
					a(href="http://color-it.ru") создание сайтов, реклама в интернете