mixin head(title)
	meta(charset="UTF-8")
	meta(name="keywords" content="")
	meta(name="description" content="")

	meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

	link(rel="stylesheet", href="css/libs.css")
	link(rel="stylesheet", href="css/main.css")
		
	title= title




mixin scripts()

	script(src="js/libs.js")
	script(src="js/main.js")