include menu.jade

mixin header()
	//
	// Header
	.header
		.burger#mobile-burger
		.container
			.row.mid
				.col-md-3.col-xs-12
					.header__logo: a(href="index.html"): img(src="img/logo.png", alt="Aboutdagestan.ru")
				
				.col-md-5.col-xs-0.mobile-hide-inline
					.header__nav
						ul
							li: a(href="index.html").current Home
							li: a(href="article.html") Partners
							li: a(href="contacts.html") Contact
				
				.col-md-4.col-xs-0.mobile-hide-inline
					.header__search
						+search()



			+menu('History', 'Geography', 'Economy', 'Education', 'Sports', 'Customs and Traditions')

	+mobile-menu('History', 'Geography', 'Economy', 'Education', 'Sports', 'Customs and Traditions')