//- Common
include header.jade
include menu.jade
include footer.jade

//- Main page
include slider.jade
include promo.jade
include main-par.jade
include main-gallery.jade
include about.jade

//- Rest
include side-menu.jade
include article.jade
include inner-search.jade
include article-preview.jade

//- Helpers
include singles.jade