mixin inner-search()
	.inner-search
		.row
			.col-md-8.col-md-push-4.col-sm-12.col-sm-push-0.col-xs-12.col-xs-push-0
					form(action="search.html")
						input(type="text" required placeholder="Searching text...")
						button(type="submit")

			.col-md-4.col-md-pull-8.col-sm-12.col-sm-pull-0.col-xs-12.col-xs-pull-0
				
					select
						option(value="history") History
						option(value="geography") Geography
						option(value="economy") Economy
						option(value="education") Education
						option(value="sports") Sports
						option(value="customs and traditions") Customs and traditions


		.row
			.col-md-12
				.inf Searching results: 123 articles found 