mixin main-par(image, title, text)
	.main-par
		img(src="img/mainpar/#{image}", alt="#{title}").layer1
		
		.container
			.row
				.col-xs-12
					.main-par__title.layer2!= title

				.col-md-8.col-md-push-2.col-xs-12.col-xs-push-0.no-padding
					.main-par__text.layer3!= text