mixin mgi(s,img,title,cat)
	div(class='col-xs-#{s}')
		a(href="article.html")
			.main-gallery__item
				.main-gallery__image
					img(src="img/mainslide-photos/#{img}", alt="#{title}")

				.inf
					.main-gallery__item-title= title
					.main-gallery__item-category= cat

mixin main-gallery()
	.main-gallery.mobile-hide#main-gal-slider

		.container.container--slide.no-padding
			.row.no-padding
				+mgi(6,'caspian.jpg','Caspian sea', 'Geography')
				+mgi(6,'caucasus.jpg','Caucasus mountains', 'Geography')

			.row.no-padding
				+mgi(4,'derbent.jpg','Derbent', 'History')
				+mgi(4,'kubachi.jpg','Kubachi', 'Customs and traditions')
				+mgi(4,'villages.jpg','Villages', 'Geography')



		.container.container--slide.no-padding
			.row.no-padding
				+mgi(6,'caspian.jpg','Caspian sea', 'Geography')
				+mgi(6,'caucasus.jpg','Caucasus mountains', 'Geography')

			.row.no-padding
				+mgi(4,'derbent.jpg','Derbent', 'History')
				+mgi(4,'kubachi.jpg','Kubachi', 'Customs and traditions')
				+mgi(4,'villages.jpg','Villages', 'Geography')



		.container.container--slide.no-padding
			.row.no-padding
				+mgi(6,'caspian.jpg','Caspian sea', 'Geography')
				+mgi(6,'caucasus.jpg','Caucasus mountains', 'Geography')

			.row.no-padding
				+mgi(4,'derbent.jpg','Derbent', 'History')
				+mgi(4,'kubachi.jpg','Kubachi', 'Customs and traditions')
				+mgi(4,'villages.jpg','Villages', 'Geography')





		
		.main-gallery__arrow.arrow-left#main-gal-prev
		.main-gallery__arrow.arrow-right#main-gal-next




	.main-gallery--mobile
		.container.no-padding
			.row.no-padding
				+mgi(12,'derbent.jpg','Derbent', 'History')
				+mgi(12,'kubachi.jpg','Kubachi', 'Customs and traditions')
				+mgi(12,'villages.jpg','Villages', 'Geography')

				.main-gallery__load
					button Load more