include singles.jade

mixin menu(...items)
	//
	// Article menu navigation
	.row.mobile-hide
		.col-md-12
			.menu
				ul
					each item in items
						li.menu__item: a(href="search.html")= item

mixin mobile-menu(...items)
	.mobile-menu
		ul
			li.mobile-menu__item: a(href="index.html") Home
			li.mobile-menu__item.expand: a Articles

			ul.submenu
				each item in items
					li.mobile-menu__item: a(href="search.html")= item

			li.mobile-menu__item: a(href="article.html") Partners
			li.mobile-menu__item: a(href="contacts.html") Contacts

		.mobile-menu__search
			+search()