mixin side-menu()
	.side-menu
		h2 Education

		ul
			li.side-menu__item: a(href="article.html") First article
			li.side-menu__item: a(href="article.html") Second article whith two line title 
			li.side-menu__item: a(href="article.html") Third title of article
			li.side-menu__item: a(href="article.html") One more title
			li.side-menu__item: a(href="article.html") Article may be two stroke and it’s one of that
			li.side-menu__item: a(href="article.html") First article
			li.side-menu__item: a(href="article.html") Second article whith two line title 
			li.side-menu__item: a(href="article.html") Third title of article
			li.side-menu__item: a(href="article.html") One more title
			li.side-menu__item: a(href="article.html") Article may be two stroke and it’s one of that