mixin breads()
	ul.breadcumbs
		li: a(href="") Home
		li: a(href="") History
		li: a(href="") Derbent

mixin pagination()
	ul.pagination
		li.prev: a(href="")
		li: a(href="") 1
		li: a(href="") 2
		li: a(href="") 3
		li: a(href="") ...
		li: a(href="") 5
		li: a(href="") 6
		li: a(href="") 7
		li.next: a(href="")

mixin search()
	form(action="search.html")
		input(type="text" required placeholder="Search...")
		button(type="submit")