include blocks/general.jade
include blocks/includes.jade

<!DOCTYPE html>
html(lang="ru")
head
	+head('Atricle | Aboutdagestan')

body
	//- Header block
	+header()


	.inner-content
		.container
			
			.row
				.col-md-3.col-sm-0
					+side-menu()

				.col-md-9.col-sm-12
					+breads()
					+article()
					+pagination()



	//- Footer
	+footer()



	//- Scripts
	+scripts()