include blocks/general.jade
include blocks/includes.jade

<!DOCTYPE html>
html(lang="ru")
head
	+head('Search results | Aboutdagestan')

body
	//- Header block
	+header()

	.contact
		.inner-content
			.container
				.row
					.col-md-9
						h3 Contacts

						p.
							Lorem ipsum dolor sit amet,  consectetur adipiscing elit,
							sed  do  eiusmod tempor incididunt ut labore et dolore magna 
							aliqua. Ut enim ad minim veniam,  quis nostrud  exercitation 
							ullamco laboris nisi ut aliquip ex ea commodo consequat. 
							Duis aute irure dolor in reprehenderit in voluptate velit esse 
							cillum dolore eu fugiat nulla pariatur. Excepteur  sint occaecat  
							cupidatat  non proident,  sunt in culpa qui officia deserunt mollit  
							anim id est l aborum.
						p.
							Lorem ipsum dolor sit amet,  consectetur adipiscing elit,
							sed  do  eiusmod tempor incididunt ut labore et dolore magna 
							aliqua. Ut enim ad minim veniam,  quis nostrud  exercitation 
							ullamco laboris nisi ut aliquip ex ea commodo consequat.

					.col-md-3
						h3 E-mail us

						.contact__item
							img(src="img/icons/mail.png", alt="")
							a(href="mailto:nfo@dagestan.org") info@dagestan.org

						.contact__item
							img(src="img/icons/point.png", alt="")
							span Russian Federation,<br>Republic of Dagestan

		.contact__map#contact-map



	//- Footer
	+footer()


	//- Scripts
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLkfQqTDjg5w9VRc_Gj0RiKDlwQOAegIg&callback=initMap")
	+scripts()