include blocks/general.jade
include blocks/includes.jade

<!DOCTYPE html>
html(lang="ru")
head
	+head('Home | Aboutdagestan')

body
	//- Header block
	+header()



	//- Slider block
	+main-slider(3)


	
	//- First text section
	-
		var title1 = 'Welcome to Dagestan';
		var text1  = '...and get some glimpses of this wonderful Land of Mountains and now<br>here must be second stroke because it looks much better';
	+promo(title1, text1)



	//- Parallax zone
	+main-par('mp-1.jpg', 'Hospitality', 'is the integral part of our mentality<br>dating back to ancient times')

	+main-par('mp-2.jpg', 'Derbent', 'is the fortress on the Great Silk Way')

	+main-par('mp-3.jpg', 'Dagestan', 'is a multiethnic republic<br>where each ethnic group has their own culture,<br>customs and traditions')



	//- Second text section
	-
		var title2 = 'Learn more about Dagestan';
		var text2  = '...and get some glimpses of this wonderful Land of Mountains and now<br>here must be second stroke because it looks much better';
	+promo(title2, text2)



	//- Gallery
	+main-gallery()



	//- About section
	+about()



	//- Footer
	+footer()



	//- Scripts
	+scripts()