include blocks/general.jade
include blocks/includes.jade

<!DOCTYPE html>
html(lang="ru")
head
	+head('Search results | Aboutdagestan')

body
	//- Header block
	+header()


	.inner-content
		.container
			.row
				.col-md-9.col-sm-12.col-xs-12
					+inner-search()

					+article-preview('img/mainslide-photos/kubachi.jpg')
					+article-preview('img/mainslide-photos/villages.jpg')
					+article-preview('img/mainslide-photos/derbent.jpg')
					+article-preview('img/mainslide-photos/villages.jpg')
					+article-preview('img/mainslide-photos/kubachi.jpg')

					.row
						.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3.col-xs-12
							+pagination()

				.col-md-3.col-xs-0
					+side-menu()


	//- Footer
	+footer()



	//- Scripts
	+scripts()