.breadcumbs
	{rale}
	{reset-inline}
	
	list-style none
	margin 0
	padding 0
	margin-bottom 16px
	
	li
		display inline-block
		
		&::after
			content '/'
			display inline-block
			vertical-align middle
			margin 0 4px
			{restore-inline}
			
		a
			{restore-inline}
			{transit}
			font-size 14px
			font-weight 500
			color text
			display inline-block
			vertical-align middle
			border-bottom 1px solid transparent
			
			&:hover
				border-bottom 1px solid gold
				color gold
			
		&:last-child
			&::after
				display none
			a
				font-weight normal


.image-left
	float left
	margin 12px 12px 12px 0

.image-right
	float right
	margin 12px 0 12px 12px


p
	{rale}
	font-size 14px
	line-height 1.5
	text-align justify

article
	a, a:hover, a:visited
		font-size 14px
		color gold
		font-weight bold
		font-style italic


	img
		display inline-block
		max-width 100%
		
	ul
		list-style none
		margin 0
		padding 0
		
		li 
			{rale}
			font-size 14px
			color text
			margin 0 0 12px 0
			
			&::before
				content ''
				display inline-block
				vertical-align middle
				margin-right 6px
				width 6px
				height 6px
				background gold
				top 5px
				
		> ul
			margin-left 13px
			
			> li::before
				opacity .5
				
	ol
		margin 0
		padding 0
		
		li
			{rale}
			font-size 14px
			color text
			margin 0 0 12px 0
			
			&::before
				display none
				
	dl 
		{rale}
		
		margin 0
		padding 0
		
		dt dfn
			font-size 20px
			font-weight 500
			font-style normal
			
		dd
			font-size 14px
			font-weight normal
			margin 6px 0 24px 0
			font-style normal
			line-height 1.2
		
		
	hr
		display block
		border none
		border-bottom 1px solid gold
		margin 16px 0
		
	blockquote
		{rale}
		margin 24px 0
		line-height 1.5
		font-size 14px
		font-style italic
		color text
		padding-left 16px
		border-left 2px solid gold
		border-top none
		border-bottom none
		
	b
		font-size 28px
		font-weight normal
		
	i
		font-style normal
		font-weight 500