.article-preview
	margin-bottom 32px
	
	&:last-child
		margin-bottom 0
	
	a, a:hover, a:visited
		font-style normal
		
		h4
			{transit}
			display inline-block
			font-weight 500
			color text
			border-bottom 1px solid transparent
			
	a:hover h4
		border-bottom 1px solid #000
		

	p 
		font-size 14px
		font-weight 100
		

.article-preview__image
	width 100%
	font-size 0
	
	img
		display inline-block
		max-width 100%
		
.pi-padfix
	padding-right 0px