map-h = 450px
.contact__map
	width 100%
	height map-h
	background #eee
	


.contact__item
	
	margin 16px 0 24px 0
	{rale}
	font-size 18px
	
	a, img, span
		display inline-block
		vertical-align middle
		
	img
		margin-right 8px
		
	a, a:visited
		{transit}
		color text
		border-bottom 1px solid transparent
		
	a:hover
		border-bottom 1px solid #000
		
	span
		line-height 1.2
	