.footer
	{rale}
	
	background #fff
	padding 48px 0
	color grayl
	
	span 
		font-size 14px
		
	
	a
		{transit}
		
		text-decoration none
		color grayl
		border-bottom 1px solid grayl
		font-size 14px
		
		&:hover
			color text
			border-bottom 1px solid text
			
	
	div[class^="col-"]
		
		sm =
			margin 16px 0
			text-align center !important
		md =
			margin 0
			text-align left
		adapt(sm,sm,md)
			