.header
	padding 24px 0
	background #fff url('../img/bg-header.jpg') no-repeat center
	background-size cover
	border-bottom 1px solid #f5f5f5
	
.header__logo
	text-align left
	width 100%
	
	sm =
		padding-left 32px
		text-align center
	md =
		padding 0
		text-align left
	adapt(sm,sm,md)
	
.header__nav
	width 100%
	text-align right
	
	ul
		display inline-block
		list-style none
		margin 0
		padding 0
		overflow hidden
		
		sm =
			display none
		md = 
			display block
		adapt(sm,sm,md)
		
	li
		display inline-block
		
		a
			{transit}
			{rale}
			
			text-decoration none
			font-size 14px
			color grayl
			margin 0 24px
			border-bottom 1px solid transparent
			
			&:hover
				text-decoration none
				color black
				border-bottom 1px solid #000
				
			&.current
				font-weight 600
				color black
				


.header__search
	width 100%
	overflow hidden
	


	input
		{rale}
		{transit}
		
		width 100%
		border 1px solid rgba(#c2c2c2, 40%)
		border-radius 4px
		background rgba(#fff, 40%)
		padding 10px 12px
		color gray
		font-size 14px
		line-height 1
		display inline-block
		
		&:focus
			outline none
			appearance none
			border 1px solid #c2c2c2
			& + button
				background darken(gold, 20%) url('../img/icons/icon-search.png') no-repeat center
				
		sm =
			display none
		md = 
			display block
		adapt(sm,sm,md)
		



	button
		{transit}
		
		position absolute
		top 0
		right 0
		height 100%
		width 38px
		border none
		background gold url('../img/icons/icon-search.png') no-repeat center
		border-radius 0 4px 4px 0
		cursor pointer
		
		&:hover
			background darken(gold, 20%) url('../img/icons/icon-search.png') no-repeat center
			
		sm =
			display none
		md = 
			display block
		adapt(sm,sm,md)