.inner-search
	@extend .header__search
	
	select, input
		font-size 18px
		xs =
			display block
			font-size 16px
			margin-bottom 8px
		sm =
			font-size 18px
		md =
			margin 0
		adapt(xs,sm,md)
		
	select
		@extend .header__search input
		cursor pointer
		padding 12px 12px 11px 12px
		background #fff url('../img/icons/select-arrow.png') no-repeat 95% center
		
	button
		width 44px
		display block
		height 100%
		
			
	.inf
		{rale}
		font-size 18px
		color gray
		margin 24px 0
		font-weight 100