mgH = 720px
.main-gallery
	width 100%
	height mgH
	overflow hidden
	background #fff url('../img/bg-main.jpg')
	
	.container
		z-index 500
		
	&--mobile
		sm =
			display block
		md =
			display none
		adapt(sm,sm,md)
	
.main-gallery__arrow
	{transit}

	position absolute
	height mgH
	width 240px
	position absolute
	top 0
	z-index 1000
	opacity .6
	cursor pointer
	
	@media screen and (min-width: 992px)
		width 100px
	@media screen and (min-width: 1440px)
		width 160px
	@media screen and (min-width: 1600px)
		width 240px
	
	&:hover
		opacity 1
	
	&.arrow-left
		left 0
		background transparent url('../img/icons/main-gal-slider-left.png') no-repeat right center

	&.arrow-right
		right 0
		background transparent url('../img/icons/main-gal-slider-right.png') no-repeat left center
		



.main-gallery__item
	width 100%
	height (mgH / 2)
	background #aaa
	cursor pointer
	z-index 1000
	
	.inf
		position absolute
		bottom 50px
		left 50px


.main-gallery__image
	width 100%
	height 100%
	background-size cover !important
	
	img
		display block
		width 100%
		
	&::after
		content ''
		display block
		position absolute
		width 100%
		height (mgH / 2)
		bottom 0
		left 0
		background linear-gradient(to top, rgba(#000, 40%), transparent)
		

.main-gallery__item-title
	{rale}
	transition .3s .15s ease
	 
	display block
	text-decoration none
	font-size 46px
	color #fff
	line-height 1.5
	text-shadow 0px 0px 4px rgba(0,0,0,.3)
	transform translateY(0px)
	
	
.main-gallery__item-category
	{rale}
	transition .3s ease
	
	display block
	text-decoration none
	font-soze 20px 
	color #fff
	line-height 1.5
	font-weight 100
	text-shadow 0px 0px 4px rgba(0,0,0,.3)
	
	&::after
		content ''
		position absolute
		display inline-block
		left 0
		bottom -6px
		width 0px
		height 3px
		background gold
		
		transition all .3s ease


.container--slide
	display inline-block
	position absolute
	top 0
	left 0
	
	&::after
		transition opacity .5s ease, z-index 0s ease
		
		content ''
		display block
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		background linear-gradient(to right, transparent, rgba(#000, 70%), rgba(#000, 70%), transparent)
		opacity 1
		z-index 1500
		
	&.is-selected
		&::after
			opacity 0
			z-index 0
			
			transition opacity .5s ease, z-index 0s .5s ease
			


.main-gallery__item:hover
		
	.main-gallery__item-category
		
		&::after
			transition all .3s ease
			width 80px
			


.main-gallery__load
	width 100%
	text-align center
	background #fff url('../img/bg-main.jpg')
	
	button
		{rale}
		{transit}
		display inline-block
		margin 12px auto
		padding 12px 24px
		background gold
		border-radius 4px
		text-align center
		font-size 20px
		font-weight 100
		color #fff
		border none
		line-height 1
		
		&:hover
			background darken(gold, 20%)
	