par-fix(off)
	margin-top off

.main-par
	width 100%
	height 600px
	margin 0
	padding 0
	background #000
	display flex
	justify-content center
	align-items center
	overflow hidden
	background-size cover !important
	
	img 
		position absolute
		top 0
		left 0
		display block
		width 100%
		flex none
		opacity .5
		transition opacity 1s ease
		
		@media screen and (max-width: 1280px)
			width auto
			height 100%
		
	@media screen and (min-width:1440px) and (max-width: 1600px)
		height 540px
		
	@media screen and (min-width:1280px) and (max-width: 1440px)
		height 500px
		

.main-par__title
	{vibes}
	
	color #fff
	text-align center
	font-size 120px
	z-index 200
	
	sm =
		font-size 90px
		display block
		width 100%
		text-align center
	md =
		font-size 120px
	adapt(sm,sm,md)
	
	par-fix(140px)
	
	
	

.main-par__text
	{rale}
	
	font-size 30px
	color #fff
	background rgba(#291711, 50%)
	padding 64px 14px
	text-align center
	line-height 1.5
	margin-top: -60px
	
	sm =
		font-size 22px
		padding 32px 14px
	md =
		font-size 30px
		padding 64px 14px
	adapt(sm,sm,md)


.main-par.inmid
	
	img
		opacity 1