.menu
	margin 24px 0 0 0
	padding 0
	width 100%
	
	ul
		{reset-inline}
		
		margin 0
		padding 0
		list-style none
		display flex
		justify-content space-between
		align-items stretch
		
		sm =
			margin 0px
			display none
		md = 
			margin 24px 0 0 0
			display flex
		adapt(sm,sm,md)
		
		
		
.menu__item
	{rale}
	{restore-inline}
	{transit}
	
	display inline-block
	vertical-align middle
	text-align center
	border 1px solid #e7e7e7
	border-right none
	border-collapse collapse
	padding 0
	background rgba(#fff, 40%)
	width 30%
	
	sm =
		display none
	md = 
		display inline-block
	adapt(sm,sm,md)
	
	a 
		{transit}
		
		font-size 20px
		height 100%
		width 100%
		display inline-block
		padding 12px
		color gray

	&:hover
		background gold
		border 1px solid gold
		border-right none
		
		& + .menu__item
			border-left 1px solid gold
		
		a
			color #fff
			font-weight 500
	
	
	&:first-child
		border-radius 4px 0 0 4px
	
	&:last-child
		border-right 1px solid #e7e7e7
		border-radius 0 4px 4px 0
		min-width 256px
		
		&:hover
			background gold
			border 1px solid gold



.mobile-menu
	display block
	width 100%
	
	ul
		{rale}
		list-style none
		margin 0
		padding 0
		font-size 30px
		color text
		
		sm =
			display block
		md =
			display none
		adapt(sm,sm,md)
		

		
.mobile-menu__item 
		display block
		margin 4px 12px
		border-bottom 1px solid #e7e7e7
		
		a 
			display block
			padding 18px 4px
			color text
			font-weight 500
			
		&.expand
			background #fff url('../img/icons/select-arrow.png') no-repeat 95% center
			
		&:last-child
			border-bottom none
		
	.submenu li
		padding-left 48px
		
		a
			font-weight 100
			
			&:hover, &:active, &:focus
				color gold
				


.mobile-menu__search
	overflow hidden
	margin 8px 12px

	input
		{rale}
		{transit}
		
		width 100%
		border 1px solid rgba(#c2c2c2, 40%)
		border-radius 4px
		background rgba(#fff, 40%)
		padding 10px 12px
		color gray
		font-size 14px
		line-height 1
		display inline-block
		
		&:focus
			outline none
			appearance none
			border 1px solid #c2c2c2
			& + button
				background darken(gold, 20%) url('../img/icons/icon-search.png') no-repeat center


	button
		{transit}
		
		position absolute
		top 0
		right 0
		height 100%
		width 38px
		border none
		background gold url('../img/icons/icon-search.png') no-repeat center
		border-radius 0 4px 4px 0
		cursor pointer
		
		&:hover
			background darken(gold, 20%) url('../img/icons/icon-search.png') no-repeat center




bsize = 60px
.burger
	position absolute
	top 50%
	left 8px
	margin-top (bsize / -2)
	width bsize
	height bsize
	background transparent url('../img/icons/burger.png') no-repeat center
	z-index 1000
	
	sm =
		display block
	md =
		display none
	adapt(sm,sm,md)