.promo
	text-align center
	padding 48px 0
	background #fff url('../img/bg-main.jpg')
	
.promo__header
	{vibes}
	
	font-size 90px
	color gray
	text-align center
	margin 0
	padding 0
	font-weight normal
	
	sm =
		font-size 60px
	md =
		font-size 90px
	adapt(sm,sm,md)
	

.promo__text
	{rale}
	
	font-size 28px
	color text
	text-align center
	line-height 1.5
	font-weight 100
	
	sm =
		font-size 22px
	md =
		font-size 28px
	adapt(sm,sm,md)

	&::before
		content ''
		display block
		margin 24px auto
		width 160px
		height 3px
		background gold
		
	&--left
		text-align left
		font-size 20px
		
.text-big
	font-size 38px
	
	&::after
		content ' '
		display inline