.side-menu
	margin 0
	padding 0
	
	ul
		list-style none
		margin 0
		padding 0
		
	xs =
		display none	
	md =
		display block
	adapt(xs,xs,md)
		
.side-menu__item
	{rale}
	margin 24px 0
	
	a
		display inline-block
		vertical-align middle
		font-size 20px
		color text
		font-weight normal
		padding-left 14px
		
		&::before
			{transit}
			content ''
			position absolute
			left 0px
			top 6px
			display inline-block
			vertical-align middle
			width 6px
			height 6px
			background white
			margin-right 12px
			transform translateX(6px)

		&:hover
			font-weight 500
			
			&::before
				background gold
				transform translateX(0px)