.main-slider
	width 100%
	height 700px
	margin 0
	padding 0
	background #ccc
	overflow hidden
	
	xs =
		height 360px
		height 75vh
	md =
		height 500px
	lg = 
		height 700px
	adapt(xs,xs,md,lg)
	
.main-slider__item
	display block
	position absolute
	width 100%
	height 100%
	top 0
	left 0
	object-fit cover
	overflow hidden
	
	img
		height 100%