@font-face
{
    font-family: 'Raleway';
    font-weight: 300;
    font-style: normal;

    src: local('Raleway Light'), local('Raleway-Light'), url('../fonts/ralewaylight.woff2') format('woff2'), url('../fonts/ralewaylight.woff') format('woff'), url('../fonts/ralewaylight.ttf') format('truetype');
}
@font-face
{
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;

    src: local('Raleway Regular'), local('Raleway-Regular'), url('../fonts/ralewayregular.woff2') format('woff2'), url('../fonts/ralewayregular.woff') format('woff'), url('../fonts/ralewayregular.ttf') format('truetype');
}
@font-face
{
    font-family: 'Raleway';
    font-weight: 400;
    font-style: italic;

    src: local('Raleway Italic'), local('Raleway-Italic'), url('../fonts/ralewayitalic.woff2') format('woff2'), url('../fonts/ralewayitalic.woff') format('woff'), url('../fonts/ralewayitalic.ttf') format('truetype');
}
@font-face
{
    font-family: 'Raleway';
    font-weight: 500;
    font-style: normal;

    src: local('Raleway Semibold'), local('Raleway-Semibold'), url('../fonts/ralewaysemibold.woff2') format('woff2'), url('../fonts/ralewaysemibold.woff') format('woff'), url('../fonts/ralewaysemibold.ttf') format('truetype');
}
@font-face
{
    font-family: 'Raleway';
    font-weight: 700;
    font-style: normal;

    src: local('Raleway Bold'), local('Raleway-Bold'), url('../fonts/ralewaybold.woff2') format('woff2'), url('../fonts/ralewaybold.woff') format('woff'), url('../fonts/ralewaybold.ttf') format('truetype');
}
@font-face
{
    font-family: 'Great Vibes';
    font-weight: 700;
    font-style: normal;

    src: local('Great Vibes'), local('Great-Vibes'), url('../fonts/GreatVibes-Regular.ttf') format('truetype');
}
body,
html
{
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
body
{
    font-size: 16px;
}
ul,
ol
{
    margin: 0;
    padding: 0;

    list-style-position: inside;
}
a
{
    text-decoration: none;

    color: #222;
}
*
{
    position: relative;

    box-sizing: border-box;

    -webkit-appearance: none;
}
*:active
{
    outline: none;
}
@media (max-width: 765px)
{
    .mobile-hide
    {
        display: none !important;
    }
}
@media (min-width: 768px)
{
    .mobile-hide
    {
        display: none !important;
    }
}
@media (min-width: 992px)
{
    .mobile-hide
    {
        display: block !important;
    }
}
@media (max-width: 765px)
{
    .mobile-hide-inline
    {
        display: none !important;
    }
}
@media (min-width: 768px)
{
    .mobile-hide-inline
    {
        display: none !important;
    }
}
@media (min-width: 992px)
{
    .mobile-hide-inline
    {
        display: inline-block !important;
    }
}
.no-padding
{
    margin: 0;
    padding: 0;
}
.row
{
    font-size: 0;
    line-height: 0;

    letter-spacing: -1;
}
.row > div
{
    font-size: 16px;
    line-height: 1;

    display: inline-block;
    float: none;

    vertical-align: top;
    letter-spacing: normal;
}
.row.mid div
{
    display: inline-block;

    vertical-align: middle;
}
.row.no-padding div
{
    margin: 0;
    padding: 0;
}
.row.gallery
{
    padding: 0 15px;
}
.row.gallery div
{
    font-size: 0;
    line-height: 0;

    letter-spacing: -1;
}
.align-right
{
    text-align: right;
}
.align-left
{
    text-align: left;
}
.inner-content
{
    padding: 24px 0;
}
h1
{
    font-family: 'Great Vibes', 'Monotype Corsiva', Raleway, Tahoma;
    font-size: 90px;

    color: #444;
}
h2
{
    font-family: Raleway;
    font-size: 38px;
    font-weight: normal;

    margin: 0;

    color: #222;
}
h3
{
    font-family: Raleway;
    font-size: 26px;
    font-weight: 500;
    line-height: 1.2;

    margin: 0;

    color: #222;
}
h4
{
    font-family: Raleway;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2;

    margin: 0;

    color: #222;
}
.pagination
{
    margin: 18px 0;

    list-style: none;
}
.pagination li
{
    display: inline-block;

    min-width: 24px;
    margin: 0 4px;

    text-align: center;
    vertical-align: middle;
}
.pagination li a
{
    font-family: Raleway;
    font-size: 20px;
    font-weight: normal;
    line-height: 1;
}
.pagination li a:hover,
.pagination li a.active
{
    font-weight: 500;

    color: #d8be2f;
}
.pagination .prev,
.pagination .next
{
    width: 26px;
    height: 9px;

    cursor: pointer;
    -webkit-transition: all .3s ease;
            transition: all .3s ease;

    opacity: .4;
    background: transparent url('../img/icons/pag-arrows.png') no-repeat;
    background-position: 0 0;
}
.pagination .prev:hover,
.pagination .next:hover
{
    opacity: 1;
}
.pagination .next
{
    background-position: 0 -9px;
}
.clearfix:after
{
    line-height: 0;

    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: '.';
}
.clearfix
{
    display: inline-block;
}
html[xmlns] .clearfix
{
    display: block;
}
* html .clearfix
{
    height: 1%;
}
.article-preview
{
    margin-bottom: 32px;
}
.article-preview:last-child
{
    margin-bottom: 0;
}
.article-preview a,
.article-preview a:hover,
.article-preview a:visited
{
    font-style: normal;
}
.article-preview a h4,
.article-preview a:hover h4,
.article-preview a:visited h4
{
    font-weight: 500;

    display: inline-block;

    -webkit-transition: all .3s ease;
            transition: all .3s ease;

    color: #222;
    border-bottom: 1px solid transparent;
}
.article-preview a:hover h4
{
    border-bottom: 1px solid #000;
}
.article-preview p
{
    font-size: 14px;
    font-weight: 100;
}
.article-preview__image
{
    font-size: 0;

    width: 100%;
}
.article-preview__image img
{
    display: inline-block;

    max-width: 100%;
}
.pi-padfix
{
    padding-right: 0;
}
.breadcumbs
{
    font-family: Raleway;
    font-size: 0;
    line-height: 0;

    margin: 0;
    margin-bottom: 16px;
    padding: 0;

    list-style: none;

    letter-spacing: -1;
}
.breadcumbs li
{
    display: inline-block;
}
.breadcumbs li::after
{
    font-size: 16px;
    line-height: 1;

    display: inline-block;

    margin: 0 4px;

    content: '/';
    vertical-align: middle;
    letter-spacing: normal;
}
.breadcumbs li a
{
    font-size: 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;

    display: inline-block;

    -webkit-transition: all .3s ease;
            transition: all .3s ease;
    vertical-align: middle;
    letter-spacing: normal;

    color: #222;
    border-bottom: 1px solid transparent;
}
.breadcumbs li a:hover
{
    color: #d8be2f;
    border-bottom: 1px solid #d8be2f;
}
.breadcumbs li:last-child::after
{
    display: none;
}
.breadcumbs li:last-child a
{
    font-weight: normal;
}
.image-left
{
    float: left;

    margin: 12px 12px 12px 0;
}
.image-right
{
    float: right;

    margin: 12px 0 12px 12px;
}
p
{
    font-family: Raleway;
    font-size: 14px;
    line-height: 1.5;

    text-align: justify;
}
article a,
article a:hover,
article a:visited
{
    font-size: 14px;
    font-weight: bold;
    font-style: italic;

    color: #d8be2f;
}
article img
{
    display: inline-block;

    max-width: 100%;
}
article ul
{
    margin: 0;
    padding: 0;

    list-style: none;
}
article ul li
{
    font-family: Raleway;
    font-size: 14px;

    margin: 0 0 12px 0;

    color: #222;
}
article ul li::before
{
    top: 5px;

    display: inline-block;

    width: 6px;
    height: 6px;
    margin-right: 6px;

    content: '';
    vertical-align: middle;

    background: #d8be2f;
}
article ul > ul
{
    margin-left: 13px;
}
article ul > ul > li::before
{
    opacity: .5;
}
article ol
{
    margin: 0;
    padding: 0;
}
article ol li
{
    font-family: Raleway;
    font-size: 14px;

    margin: 0 0 12px 0;

    color: #222;
}
article ol li::before
{
    display: none;
}
article dl
{
    font-family: Raleway;

    margin: 0;
    padding: 0;
}
article dl dt dfn
{
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
}
article dl dd
{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2;

    margin: 6px 0 24px 0;
}
article hr
{
    display: block;

    margin: 16px 0;

    border: none;
    border-bottom: 1px solid #d8be2f;
}
article blockquote
{
    font-family: Raleway;
    font-size: 14px;
    font-style: italic;
    line-height: 1.5;

    margin: 24px 0;
    padding-left: 16px;

    color: #222;
    border-top: none;
    border-bottom: none;
    border-left: 2px solid #d8be2f;
}
article b
{
    font-size: 28px;
    font-weight: normal;
}
article i
{
    font-weight: 500;
    font-style: normal;
}
.contact__map
{
    width: 100%;
    height: 450px;

    background: #eee;
}
.contact__item
{
    font-family: Raleway;
    font-size: 18px;

    margin: 16px 0 24px 0;
}
.contact__item a,
.contact__item img,
.contact__item span
{
    display: inline-block;

    vertical-align: middle;
}
.contact__item img
{
    margin-right: 8px;
}
.contact__item a,
.contact__item a:visited
{
    -webkit-transition: all .3s ease;
            transition: all .3s ease;

    color: #222;
    border-bottom: 1px solid transparent;
}
.contact__item a:hover
{
    border-bottom: 1px solid #000;
}
.contact__item span
{
    line-height: 1.2;
}
.footer
{
    font-family: Raleway;

    padding: 48px 0;

    color: #666;
    background: #fff;
}
.footer span
{
    font-size: 14px;
}
.footer a
{
    font-size: 14px;

    -webkit-transition: all .3s ease;
            transition: all .3s ease;
    text-decoration: none;

    color: #666;
    border-bottom: 1px solid #666;
}
.footer a:hover
{
    color: #222;
    border-bottom: 1px solid #222;
}
@media (max-width: 765px)
{
    .footer div[class^='col-']
    {
        margin: 16px 0;

        text-align: center !important;
    }
}
@media (min-width: 768px)
{
    .footer div[class^='col-']
    {
        margin: 16px 0;

        text-align: center !important;
    }
}
@media (min-width: 992px)
{
    .footer div[class^='col-']
    {
        margin: 0;

        text-align: left;
    }
}
.header
{
    padding: 24px 0;

    border-bottom: 1px solid #f5f5f5;
    background: #fff url('../img/bg-header.jpg') no-repeat center;
    background-size: cover;
}
.header__logo
{
    width: 100%;

    text-align: left;
}
@media (max-width: 765px)
{
    .header__logo
    {
        padding-left: 32px;

        text-align: center;
    }
}
@media (min-width: 768px)
{
    .header__logo
    {
        padding-left: 32px;

        text-align: center;
    }
}
@media (min-width: 992px)
{
    .header__logo
    {
        padding: 0;

        text-align: left;
    }
}
.header__nav
{
    width: 100%;

    text-align: right;
}
.header__nav ul
{
    display: inline-block;
    overflow: hidden;

    margin: 0;
    padding: 0;

    list-style: none;
}
@media (max-width: 765px)
{
    .header__nav ul
    {
        display: none;
    }
}
@media (min-width: 768px)
{
    .header__nav ul
    {
        display: none;
    }
}
@media (min-width: 992px)
{
    .header__nav ul
    {
        display: block;
    }
}
.header__nav li
{
    display: inline-block;
}
.header__nav li a
{
    font-family: Raleway;
    font-size: 14px;

    margin: 0 24px;

    -webkit-transition: all .3s ease;
            transition: all .3s ease;
    text-decoration: none;

    color: #666;
    border-bottom: 1px solid transparent;
}
.header__nav li a:hover
{
    text-decoration: none;

    color: #000;
    border-bottom: 1px solid #000;
}
.header__nav li a.current
{
    font-weight: 600;

    color: #000;
}
.header__search,
.inner-search
{
    overflow: hidden;

    width: 100%;
}
.header__search input,
.inner-search input,
.inner-search select
{
    font-family: Raleway;
    font-size: 14px;
    line-height: 1;

    display: inline-block;

    width: 100%;
    padding: 10px 12px;

    -webkit-transition: all .3s ease;
            transition: all .3s ease;

    color: #444;
    border: 1px solid rgba(194,194,194,.4);
    border-radius: 4px;
    background: rgba(255,255,255,.4);
}
.header__search input:focus,
.inner-search input:focus,
.inner-search select:focus
{
    border: 1px solid #c2c2c2;
    outline: none;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.header__search input:focus + button,
.inner-search input:focus + button,
.inner-search select:focus + button
{
    background: #b19b21 url('../img/icons/icon-search.png') no-repeat center;
}
@media (max-width: 765px)
{
    .header__search input,
    .inner-search input,
    .inner-search select
    {
        display: none;
    }
}
@media (min-width: 768px)
{
    .header__search input,
    .inner-search input,
    .inner-search select
    {
        display: none;
    }
}
@media (min-width: 992px)
{
    .header__search input,
    .inner-search input,
    .inner-search select
    {
        display: block;
    }
}
.header__search button,
.inner-search button
{
    position: absolute;
    top: 0;
    right: 0;

    width: 38px;
    height: 100%;

    cursor: pointer;
    -webkit-transition: all .3s ease;
            transition: all .3s ease;

    border: none;
    border-radius: 0 4px 4px 0;
    background: #d8be2f url('../img/icons/icon-search.png') no-repeat center;
}
.header__search button:hover,
.inner-search button:hover
{
    background: #b19b21 url('../img/icons/icon-search.png') no-repeat center;
}
@media (max-width: 765px)
{
    .header__search button,
    .inner-search button
    {
        display: none;
    }
}
@media (min-width: 768px)
{
    .header__search button,
    .inner-search button
    {
        display: none;
    }
}
@media (min-width: 992px)
{
    .header__search button,
    .inner-search button
    {
        display: block;
    }
}
.inner-search select,
.inner-search input
{
    font-size: 18px;
}
@media (max-width: 765px)
{
    .inner-search select,
    .inner-search input
    {
        font-size: 16px;

        display: block;

        margin-bottom: 8px;
    }
}
@media (min-width: 768px)
{
    .inner-search select,
    .inner-search input
    {
        font-size: 18px;
    }
}
@media (min-width: 992px)
{
    .inner-search select,
    .inner-search input
    {
        margin: 0;
    }
}
.inner-search select
{
    padding: 12px 12px 11px 12px;

    cursor: pointer;

    background: #fff url('../img/icons/select-arrow.png') no-repeat 95% center;
}
.inner-search button
{
    display: block;

    width: 44px;
    height: 100%;
}
.inner-search .inf
{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 100;

    margin: 24px 0;

    color: #444;
}
.main-gallery
{
    overflow: hidden;

    width: 100%;
    height: 720px;

    background: #fff url('../img/bg-main.jpg');
}
.main-gallery .container
{
    z-index: 500;
}
@media (max-width: 765px)
{
    .main-gallery--mobile
    {
        display: block;
    }
}
@media (min-width: 768px)
{
    .main-gallery--mobile
    {
        display: block;
    }
}
@media (min-width: 992px)
{
    .main-gallery--mobile
    {
        display: none;
    }
}
.main-gallery__arrow
{
    position: absolute;
    position: absolute;
    z-index: 1000;
    top: 0;

    width: 240px;
    height: 720px;

    cursor: pointer;
    -webkit-transition: all .3s ease;
            transition: all .3s ease;

    opacity: .6;
}
@media screen and (min-width: 992px)
{
    .main-gallery__arrow
    {
        width: 100px;
    }
}
@media screen and (min-width: 1440px)
{
    .main-gallery__arrow
    {
        width: 160px;
    }
}
@media screen and (min-width: 1600px)
{
    .main-gallery__arrow
    {
        width: 240px;
    }
}
.main-gallery__arrow:hover
{
    opacity: 1;
}
.main-gallery__arrow.arrow-left
{
    left: 0;

    background: transparent url('../img/icons/main-gal-slider-left.png') no-repeat right center;
}
.main-gallery__arrow.arrow-right
{
    right: 0;

    background: transparent url('../img/icons/main-gal-slider-right.png') no-repeat left center;
}
.main-gallery__item
{
    z-index: 1000;

    width: 100%;
    height: 360px;

    cursor: pointer;

    background: #aaa;
}
.main-gallery__item .inf
{
    position: absolute;
    bottom: 50px;
    left: 50px;
}
.main-gallery__image
{
    width: 100%;
    height: 100%;

    background-size: cover !important;
}
.main-gallery__image img
{
    display: block;

    width: 100%;
}
.main-gallery__image::after
{
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 360px;

    content: '';

    background: -webkit-linear-gradient(bottom, rgba(0,0,0,.4), transparent);
    background:         linear-gradient(to top, rgba(0,0,0,.4), transparent);
}
.main-gallery__item-title
{
    font-family: Raleway;
    font-size: 46px;
    line-height: 1.5;

    display: block;

    -webkit-transition: .3s .15s ease;
            transition: .3s .15s ease;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    text-decoration: none;

    color: #fff;
    text-shadow: 0 0 4px rgba(0,0,0,.3);
}
.main-gallery__item-category
{
    font-family: Raleway;
    font-weight: 100;
    line-height: 1.5;

    display: block;

    -webkit-transition: .3s ease;
            transition: .3s ease;
    text-decoration: none;

    color: #fff;
    text-shadow: 0 0 4px rgba(0,0,0,.3);

    font-soze: 20px;
}
.main-gallery__item-category::after
{
    position: absolute;
    bottom: -6px;
    left: 0;

    display: inline-block;

    width: 0;
    height: 3px;

    content: '';
    -webkit-transition: all .3s ease;
            transition: all .3s ease;

    background: #d8be2f;
}
.container--slide
{
    position: absolute;
    top: 0;
    left: 0;

    display: inline-block;
}
.container--slide::after
{
    position: absolute;
    z-index: 1500;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    content: '';
    -webkit-transition: opacity .5s ease, z-index 0s ease;
            transition: opacity .5s ease, z-index 0s ease;

    opacity: 1;
    background: -webkit-linear-gradient(left, transparent, rgba(0,0,0,.7), rgba(0,0,0,.7), transparent);
    background:         linear-gradient(to right, transparent, rgba(0,0,0,.7), rgba(0,0,0,.7), transparent);
}
.container--slide.is-selected::after
{
    z-index: 0;

    -webkit-transition: opacity .5s ease, z-index 0s .5s ease;
            transition: opacity .5s ease, z-index 0s .5s ease;

    opacity: 0;
}
.main-gallery__item:hover .main-gallery__item-category::after
{
    width: 80px;

    -webkit-transition: all .3s ease;
            transition: all .3s ease;
}
.main-gallery__load
{
    width: 100%;

    text-align: center;

    background: #fff url('../img/bg-main.jpg');
}
.main-gallery__load button
{
    font-family: Raleway;
    font-size: 20px;
    font-weight: 100;
    line-height: 1;

    display: inline-block;

    margin: 12px auto;
    padding: 12px 24px;

    -webkit-transition: all .3s ease;
            transition: all .3s ease;
    text-align: center;

    color: #fff;
    border: none;
    border-radius: 4px;
    background: #d8be2f;
}
.main-gallery__load button:hover
{
    background: #b19b21;
}
.main-par
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    overflow: hidden;

    width: 100%;
    height: 600px;
    margin: 0;
    padding: 0;

    background: #000;
    background-size: cover !important;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.main-par img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;

    -webkit-transition: opacity 1s ease;
            transition: opacity 1s ease;

    opacity: .5;

    -webkit-box-flex: 0;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
}
@media screen and (max-width: 1280px)
{
    .main-par img
    {
        width: auto;
        height: 100%;
    }
}
@media screen and (min-width: 1440px) and (max-width: 1600px)
{
    .main-par
    {
        height: 540px;
    }
}
@media screen and (min-width: 1280px) and (max-width: 1440px)
{
    .main-par
    {
        height: 500px;
    }
}
.main-par__title
{
    font-family: 'Great Vibes', 'Monotype Corsiva', Raleway, Tahoma;
    font-size: 120px;

    z-index: 200;

    margin-top: 140px;

    text-align: center;

    color: #fff;
}
@media (max-width: 765px)
{
    .main-par__title
    {
        font-size: 90px;

        display: block;

        width: 100%;

        text-align: center;
    }
}
@media (min-width: 768px)
{
    .main-par__title
    {
        font-size: 90px;

        display: block;

        width: 100%;

        text-align: center;
    }
}
@media (min-width: 992px)
{
    .main-par__title
    {
        font-size: 120px;
    }
}
.main-par__text
{
    font-family: Raleway;
    font-size: 30px;
    line-height: 1.5;

    margin-top: -60px;
    padding: 64px 14px;

    text-align: center;

    color: #fff;
    background: rgba(41,23,17,.5);
}
@media (max-width: 765px)
{
    .main-par__text
    {
        font-size: 22px;

        padding: 32px 14px;
    }
}
@media (min-width: 768px)
{
    .main-par__text
    {
        font-size: 22px;

        padding: 32px 14px;
    }
}
@media (min-width: 992px)
{
    .main-par__text
    {
        font-size: 30px;

        padding: 64px 14px;
    }
}
.main-par.inmid img
{
    opacity: 1;
}
.menu
{
    width: 100%;
    margin: 24px 0 0 0;
    padding: 0;
}
.menu ul
{
    font-size: 0;
    line-height: 0;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    margin: 0;
    padding: 0;

    list-style: none;

    letter-spacing: -1;

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
            align-items: stretch;
}
@media (max-width: 765px)
{
    .menu ul
    {
        display: none;

        margin: 0;
    }
}
@media (min-width: 768px)
{
    .menu ul
    {
        display: none;

        margin: 0;
    }
}
@media (min-width: 992px)
{
    .menu ul
    {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;

        margin: 24px 0 0 0;
    }
}
.menu__item
{
    font-family: Raleway;
    font-size: 16px;
    line-height: 1;

    display: inline-block;

    width: 30%;
    padding: 0;

    border-collapse: collapse;

    -webkit-transition: all .3s ease;
            transition: all .3s ease;
    text-align: center;
    vertical-align: middle;
    letter-spacing: normal;

    border: 1px solid #e7e7e7;
    border-right: none;
    background: rgba(255,255,255,.4);
}
@media (max-width: 765px)
{
    .menu__item
    {
        display: none;
    }
}
@media (min-width: 768px)
{
    .menu__item
    {
        display: none;
    }
}
@media (min-width: 992px)
{
    .menu__item
    {
        display: inline-block;
    }
}
.menu__item a
{
    font-size: 20px;

    display: inline-block;

    width: 100%;
    height: 100%;
    padding: 12px;

    -webkit-transition: all .3s ease;
            transition: all .3s ease;

    color: #444;
}
.menu__item:hover
{
    border: 1px solid #d8be2f;
    border-right: none;
    background: #d8be2f;
}
.menu__item:hover + .menu__item
{
    border-left: 1px solid #d8be2f;
}
.menu__item:hover a
{
    font-weight: 500;

    color: #fff;
}
.menu__item:first-child
{
    border-radius: 4px 0 0 4px;
}
.menu__item:last-child
{
    min-width: 256px;

    border-right: 1px solid #e7e7e7;
    border-radius: 0 4px 4px 0;
}
.menu__item:last-child:hover
{
    border: 1px solid #d8be2f;
    background: #d8be2f;
}
.mobile-menu
{
    display: block;

    width: 100%;
}
.mobile-menu ul
{
    font-family: Raleway;
    font-size: 30px;

    margin: 0;
    padding: 0;

    list-style: none;

    color: #222;
}
@media (max-width: 765px)
{
    .mobile-menu ul
    {
        display: block;
    }
}
@media (min-width: 768px)
{
    .mobile-menu ul
    {
        display: block;
    }
}
@media (min-width: 992px)
{
    .mobile-menu ul
    {
        display: none;
    }
}
.mobile-menu__item
{
    display: block;

    margin: 4px 12px;

    border-bottom: 1px solid #e7e7e7;
}
.mobile-menu__item a
{
    font-weight: 500;

    display: block;

    padding: 18px 4px;

    color: #222;
}
.mobile-menu__item.expand
{
    background: #fff url('../img/icons/select-arrow.png') no-repeat 95% center;
}
.mobile-menu__item:last-child
{
    border-bottom: none;
}
.submenu li
{
    padding-left: 48px;
}
.submenu li a
{
    font-weight: 100;
}
.submenu li a:hover,
.submenu li a:active,
.submenu li a:focus
{
    color: #d8be2f;
}
.mobile-menu__search
{
    overflow: hidden;

    margin: 8px 12px;
}
.mobile-menu__search input
{
    font-family: Raleway;
    font-size: 14px;
    line-height: 1;

    display: inline-block;

    width: 100%;
    padding: 10px 12px;

    -webkit-transition: all .3s ease;
            transition: all .3s ease;

    color: #444;
    border: 1px solid rgba(194,194,194,.4);
    border-radius: 4px;
    background: rgba(255,255,255,.4);
}
.mobile-menu__search input:focus
{
    border: 1px solid #c2c2c2;
    outline: none;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.mobile-menu__search input:focus + button
{
    background: #b19b21 url('../img/icons/icon-search.png') no-repeat center;
}
.mobile-menu__search button
{
    position: absolute;
    top: 0;
    right: 0;

    width: 38px;
    height: 100%;

    cursor: pointer;
    -webkit-transition: all .3s ease;
            transition: all .3s ease;

    border: none;
    border-radius: 0 4px 4px 0;
    background: #d8be2f url('../img/icons/icon-search.png') no-repeat center;
}
.mobile-menu__search button:hover
{
    background: #b19b21 url('../img/icons/icon-search.png') no-repeat center;
}
.burger
{
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 8px;

    width: 60px;
    height: 60px;
    margin-top: -30px;

    background: transparent url('../img/icons/burger.png') no-repeat center;
}
@media (max-width: 765px)
{
    .burger
    {
        display: block;
    }
}
@media (min-width: 768px)
{
    .burger
    {
        display: block;
    }
}
@media (min-width: 992px)
{
    .burger
    {
        display: none;
    }
}
.promo
{
    padding: 48px 0;

    text-align: center;

    background: #fff url('../img/bg-main.jpg');
}
.promo__header
{
    font-family: 'Great Vibes', 'Monotype Corsiva', Raleway, Tahoma;
    font-size: 90px;
    font-weight: normal;

    margin: 0;
    padding: 0;

    text-align: center;

    color: #444;
}
@media (max-width: 765px)
{
    .promo__header
    {
        font-size: 60px;
    }
}
@media (min-width: 768px)
{
    .promo__header
    {
        font-size: 60px;
    }
}
@media (min-width: 992px)
{
    .promo__header
    {
        font-size: 90px;
    }
}
.promo__text
{
    font-family: Raleway;
    font-size: 28px;
    font-weight: 100;
    line-height: 1.5;

    text-align: center;

    color: #222;
}
@media (max-width: 765px)
{
    .promo__text
    {
        font-size: 22px;
    }
}
@media (min-width: 768px)
{
    .promo__text
    {
        font-size: 22px;
    }
}
@media (min-width: 992px)
{
    .promo__text
    {
        font-size: 28px;
    }
}
.promo__text::before
{
    display: block;

    width: 160px;
    height: 3px;
    margin: 24px auto;

    content: '';

    background: #d8be2f;
}
.promo__text--left
{
    font-size: 20px;

    text-align: left;
}
.text-big
{
    font-size: 38px;
}
.text-big::after
{
    display: inline;

    content: ' ';
}
.side-menu
{
    margin: 0;
    padding: 0;
}
.side-menu ul
{
    margin: 0;
    padding: 0;

    list-style: none;
}
@media (max-width: 765px)
{
    .side-menu
    {
        display: none;
    }
}
@media (min-width: 768px)
{
    .side-menu
    {
        display: none;
    }
}
@media (min-width: 992px)
{
    .side-menu
    {
        display: block;
    }
}
.side-menu__item
{
    font-family: Raleway;

    margin: 24px 0;
}
.side-menu__item a
{
    font-size: 20px;
    font-weight: normal;

    display: inline-block;

    padding-left: 14px;

    vertical-align: middle;

    color: #222;
}
.side-menu__item a::before
{
    position: absolute;
    top: 6px;
    left: 0;

    display: inline-block;

    width: 6px;
    height: 6px;
    margin-right: 12px;

    content: '';
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
    vertical-align: middle;

    background: #fff;
}
.side-menu__item a:hover
{
    font-weight: 500;
}
.side-menu__item a:hover::before
{
    -webkit-transform: translateX(0px);
            transform: translateX(0px);

    background: #d8be2f;
}
.main-slider
{
    overflow: hidden;

    width: 100%;
    height: 700px;
    margin: 0;
    padding: 0;

    background: #ccc;
}
@media (max-width: 765px)
{
    .main-slider
    {
        height: 360px;
        height: 75vh;
    }
}
@media (min-width: 768px)
{
    .main-slider
    {
        height: 360px;
        height: 75vh;
    }
}
@media (min-width: 992px)
{
    .main-slider
    {
        height: 500px;
    }
}
@media (min-width: 1200px)
{
    .main-slider
    {
        height: 700px;
    }
}
.main-slider__item
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    overflow: hidden;

    width: 100%;
    height: 100%;

    -o-object-fit: cover;
       object-fit: cover;
}
.main-slider__item img
{
    height: 100%;
}
