body, html
	margin 0
	padding 0
	width 100%
	min-height 100%
	
body
	font-size 16px
	
ul, ol
	margin 0
	padding 0
	list-style-position inside
	
a
	text-decoration none
	color text

*
	box-sizing border-box
	position relative
	-webkit-appearance none
	
	&:active
		outline none
		
.mobile-hide
	sm =
		display none !important
	md =
		display block !important
	adapt(sm,sm,md)
	
.mobile-hide-inline
	sm =
		display none !important
	md =
		display inline-block !important
	adapt(sm,sm,md)

.no-padding
	padding 0
	margin 0		

.row
	{reset-inline}
	
	> div
		{restore-inline}
		display inline-block
		vertical-align top
		float none
		
	&.mid div
		display inline-block
		vertical-align middle
		
	&.no-padding div
		padding 0
		margin 0
		
	&.gallery
		padding 0 15px
		div
			{reset-inline}

		

.align-right
	text-align right
	
.align-left
	text-align left
	
.inner-content
	padding 24px 0

h1
	{vibes}
	font-size 90px
	color gray

h2
	{rale}
	font-size 38px
	color text
	font-weight normal
	margin 0

h3
	{rale}
	font-size 26px
	font-weight 500
	color text
	line-height 1.2
	margin 0

h4
	{rale}
	font-size 20px
	font-weight normal
	color text
	line-height 1.2
	margin 0
	
.pagination
	list-style none
	margin 18px 0
	
	li
		display inline-block
		vertical-align middle
		min-width 24px
		text-align center
		margin 0px 4px
		
		a
			{rale}
			
			font-size 20px
			line-height 1
			font-weight normal
			
			&:hover, &.active
				font-weight 500
				color gold
		
	.prev, .next
		{transit}
		width 26px
		height 9px
		background transparent url('../img/icons/pag-arrows.png') no-repeat
		background-position 0px 0px
		opacity .4
		cursor pointer
		
		&:hover
			opacity 1
		
	.next
		background-position 0px -9px
		


.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.clearfix {
  display: inline-block;
}
 
html[xmlns] .clearfix {
  display: block;
}
 
* html .clearfix {
  height: 1%;
}