reset-inline =
	font-size 0px
	line-height 0px
	letter-spacing -1
	
restore-inline =
	font-size 16px
	line-height 1
	letter-spacing normal
	

transit= 
	transition all .3s ease

transit-slow= 
	transition all .7s ease
	

adapt(xs='',sm='',md='',lg='')

	@media (max-width: 765px)
		{xs}
	
	@media (min-width: 768px)
		{sm}
		
	@media (min-width: 992px)
		{md}
		
	@media (min-width: 1200px)
		{lg}